thead {
    background-color: darkgreen;
    color: white;
}

th,
td {
    padding: 10px;
}

table {
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

/* Ustawienie szerokości kolumn */
th:nth-child(1),
td:nth-child(1) {
    width: 25%;
}

th:nth-child(4),
td:nth-child(4) {
    width: 40%;
}

/* Efekt hover */
tbody tr:hover {
    background-color: #f2f2f2;
}